body {
  background: #FFF;
  font-family: 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  max-height: : 100%;
  overflow-y: hidden;
}
.playGround {
  height: 100%;
  border: 0%;
  margin: 0;
}
.playView {
  background: #FFF;
  float: left;
  padding-right: 2%;
}
.playViewLeftEdge {
  background: #FFF;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}
.playViewRightEdge {
  background: #FFF;
  float: left;
  padding-right: 2%;
}
.playViewCanvas {
  -webkit-box-shadow: -7px 16px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 16px 19px 0px rgba(0,0,0,0.75);
  box-shadow: -7px 8px 19px 0px rgba(0,0,0,0.75);
}
.playViewCanvas.focused {
  -webkit-box-shadow: -7px 16px 19px 0px rgba( 167, 74, 199,0.75);
  -moz-box-shadow: -7px 16px 19px 0px rgba( 167, 74, 199,0.75);
  box-shadow: -7px 8px 19px 0px rgba( 167, 74, 199,0.75);
}
.fullTitleBannerDiv {
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgba(230, 230, 230, 0.35);
  pointer-events:none;
}
.playTitlePane {
  background: #EDEDED;
}
.playViewCanvas.focused {
  opacity: 1.0;
}
.playViewCanvas.unfocused {
  opacity: 0.75;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}
h2 {
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 1.3em;
}
h2.focused {
  border-bottom: 1px solid #A74AC7	;
}
h1.fullTitleBannerH {
  text-align: center;
  font-size: 2.5em;
  border-bottom: none;
}
h1.fullTitleBannerH.focused {
  border-bottom: 1px solid #1E90FF;
}
span.subFullTitleBannerH {
  font-size: 1.7em;
}
.noteBannerDiv {
  z-index: 100;
  position: fixed;
  width: 40%;
  left: 30%;
  bottom: 0;
  background-color: rgba(230, 230, 230, 0.35);
  pointer-events:none;
}
.noteBannerH {
  text-align: center;
  font-size: 1.5em;
  border-bottom: none;
}
.noteSplitDiv {
  width: 40%;
  left: 30%;
  bottom: 0;
  height: 20px;
  position: fixed;
}
.noteSplitH {
  text-align: center;
  font-size: 0.8em;
  border-bottom: none;
}
h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
